body {
    display: grid;
    grid-template-columns: 150px / auto;
    background-color: rgb(72, 72, 65);
}

#jobseer-app-root {
    display: none;
}

.controls {
    grid-column: 1;
    display: grid;
    grid-template-rows: 25% / auto / auto / auto / 25%;
    justify-items: center;
    width: 200px;
    height: 500px;
}

.wave {
    grid-column: 2;
}

.brush {
    grid-column: 3;
}

.reset {
    grid-column: 4;
}

main {
    grid-column: 2;
}

button {
    border-radius: 10%;
    width: 100px;
    height: 50px;
}

canvas {
    margin: 5% 0%;
    border: 1px solid whitesmoke;
}