body {
  display: grid;
  grid-template-columns: 100px / auto;
  background-color: rgb(72, 72, 65);
}

#jobseer-app-root {
  display: none;
}

.controls {
  grid-column: 1;
  display: grid;
  grid-template-rows: 25% / auto / auto / auto / 25%;
  justify-items: center;
}

.wave {
  display: flex;
  grid-row: 2;
  margin-right: 25px;
  height: 3em;
}

.brush {
  display: flex;
  grid-row: 3;
  margin-right: 25px;
  height: 3em;
}

.reset {
  display: flex;
  grid-row: 4;
  margin-right: 25px;
  height: 3em;
}

main {
  grid-column: 2;
  margin-top: 5%;
}

button {
  border-radius: 10%;
  width: 100px;
  height: 50px;
}

select {
  font-size: 1em;
  border: 1px solid black;
}

canvas {
  border: 1px solid whitesmoke;
}
